<a href="https://colab.research.google.com/github/jnetoass/autoencoder/blob/main/cobaia2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from pathlib import Path
import matplotlib.pyplot as plt

In [ ]:
# Download the actual data from http://files.grouplens.org/datasets/movielens/ml-25m.zip"
# Use the ratings.csv file
movielens_data_file_url = (
    "https://files.grouplens.org/datasets/movielens/ml-25m.zip"
    #"/content/ml-25m.zip"
)
movielens_zipped_file = keras.utils.get_file(
    "ml-25m.zip", movielens_data_file_url, extract=False
)
keras_datasets_path = Path(movielens_zipped_file).parents[0]
movielens_dir = keras_datasets_path / "ml-25m"

# Only extract the data the first time the script is run.
if not movielens_dir.exists():
    with ZipFile(movielens_zipped_file, "r") as zip:
        # Extract files
        print("Extracting all the files now...")
        zip.extractall(path=keras_datasets_path)
        print("Done!")

ratings_file = movielens_dir / "ratings.csv"
ratings = pd.read_csv(ratings_file)

In [ ]:
movielens_zipped_file = keras.utils.get_file(
    "ml-25m.zip", '/content/ml-25m.zip', extract=False
)
keras_datasets_path = Path(movielens_zipped_file).parents[0]
movielens_dir = keras_datasets_path / "ml-25m"

# Only extract the data the first time the script is run.
if not movielens_dir.exists():
    with ZipFile(movielens_zipped_file, "r") as zip:
        # Extract files
        print("Extracting all the files now...")
        zip.extractall(path=keras_datasets_path)
        print("Done!")

ratings_file = movielens_dir / "ratings.csv"
ratings = pd.read_csv(ratings_file)

In [ ]:
import zipfile
local_zip = '/content/ml-25m.zip'
zip_ref   = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/content')
zip_ref.close()

In [ ]:
movies_file = movielens_dir /"movies.csv"
movies = pd.read_csv(movies_file).set_index("movieId")

In [ ]:
ratings = pd.read_csv('/content/ml-25m/ratings.csv')

In [ ]:
rating_counts = ratings.groupby("movieId")["rating"].count().sort_values(ascending=False)

# only the 500 most popular movies
pop_ratings = ratings[ratings["movieId"].isin((rating_counts).index[0:1000])]
pop_ratings = pop_ratings.set_index(["movieId", "userId"])

In [ ]:
prefs = pop_ratings["rating"]

In [ ]:
pref_matrix = prefs.reset_index()[["userId", "movieId", "rating"]].pivot(index="userId", columns="movieId", values="rating").fillna(0)

In [ ]:
pref_matrix.shape

(162506, 1000)

In [ ]:
pref_matrix.tail()

movieId,1,2,3,5,6,7,10,11,16,17,...,122920,122922,134130,134853,139385,148626,152081,164179,166528,168252
userId,,,,,,,,,,,,,,,,,,,,,
162537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162538,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#from keras.optimizers import Adam
from keras.layers import Input, Dense, Dropout
from keras.models import Model

def autoEncoder(X):
    '''
    Autoencoder for Collaborative Filter Model
    '''

    # Input
    input_layer = Input(shape=(X.shape[1],), name='UserScore')
    
    # Encoder
    # -----------------------------
    enc = Dense(512, activation='selu', name='EncLayer1')(input_layer)

    # Latent Space
    # -----------------------------
    lat_space = Dense(256, activation='selu', name='LatentSpace')(enc)
    lat_space = Dropout(0.8, name='Dropout')(lat_space) # Dropout

    # Decoder
    # -----------------------------
    dec = Dense(512, activation='selu', name='DecLayer1')(lat_space)

    # Output
    output_layer = Dense(X.shape[1], activation='linear', name='UserScorePred')(dec)

    # this model maps an input to its reconstruction
    model = Model(input_layer, output_layer)    
    
    return model

In [ ]:
# input
X = pref_matrix.values
y = pref_matrix.values

In [ ]:
# input
X = cobaia.values
y = cobaia.values

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# Create X & y values
X = MinMaxScaler().fit_transform(X)
y = MinMaxScaler().fit_transform(y)

In [ ]:
X

array([[0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0.7, 0. , 0. , ..., 0. , 0. , 0. ],
       [0.8, 0. , 0. , ..., 0.8, 0.8, 0.8],
       ...,
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [ ]:
# Build model
model = autoEncoder(X)

model.compile(optimizer = tf.keras.optimizers.Adam(learning_rate=0.0001), loss='mse')
    
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 UserScore (InputLayer)      [(None, 1000)]            0

 EncLayer1 (Dense)           (None, 512)               512512

 LatentSpace (Dense)         (None, 256)               131328

 Dropout (Dropout)           (None, 256)               0

 DecLayer1 (Dense)           (None, 512)               131584

 UserScorePred (Dense)       (None, 1000)              513000

=================================================================
Total params: 1,288,424
Trainable params: 1,288,424
Non-trainable params: 0
_________________________________________________________________

In [ ]:
hist = model.fit(x=X, y=y,
                  epochs=50,
                  batch_size=64,
                  shuffle=True,
                  validation_split=0.1)

Epoch 1/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0686 - val_loss: 0.0297
Epoch 2/50
2286/2286 [==============================] - 42s 19ms/step - loss: 0.0336 - val_loss: 0.0283
Epoch 3/50
2286/2286 [==============================] - 42s 18ms/step - loss: 0.0323 - val_loss: 0.0277
Epoch 4/50
2286/2286 [==============================] - 42s 18ms/step - loss: 0.0318 - val_loss: 0.0275
Epoch 5/50
2286/2286 [==============================] - 42s 18ms/step - loss: 0.0315 - val_loss: 0.0275
Epoch 6/50
2286/2286 [==============================] - 41s 18ms/step - loss: 0.0313 - val_loss: 0.0273
Epoch 7/50
2286/2286 [==============================] - 42s 19ms/step - loss: 0.0311 - val_loss: 0.0276
Epoch 8/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0309 - val_loss: 0.0276
Epoch 9/50
2286/2286 [==============================] - 50s 22ms/step - loss: 0.0308 - val_loss: 0.0278
Epoch 10/50
2286/2286 [==============================] - 45s 20ms/step - loss: 0.0307 - val_loss: 0.0279
Epoch 11/50
2286/2286 [==============================] - 46s 20ms/step - loss: 0.0306 - val_loss: 0.0284
Epoch 12/50
2286/2286 [==============================] - 47s 21ms/step - loss: 0.0305 - val_loss: 0.0280
Epoch 13/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0304 - val_loss: 0.0282
Epoch 14/50
2286/2286 [==============================] - 49s 22ms/step - loss: 0.0303 - val_loss: 0.0281
Epoch 15/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0302 - val_loss: 0.0275
Epoch 16/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0301 - val_loss: 0.0276
Epoch 17/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0300 - val_loss: 0.0274
Epoch 18/50
2286/2286 [==============================] - 47s 20ms/step - loss: 0.0300 - val_loss: 0.0273
Epoch 19/50
2286/2286 [==============================] - 46s 20ms/step - loss: 0.0299 - val_loss: 0.0270
Epoch 20/50
2286/2286 [==============================] - 47s 20ms/step - loss: 0.0298 - val_loss: 0.0270
Epoch 21/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0297 - val_loss: 0.0269
Epoch 22/50
2286/2286 [==============================] - 47s 21ms/step - loss: 0.0297 - val_loss: 0.0266
Epoch 23/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0296 - val_loss: 0.0266
Epoch 24/50
2286/2286 [==============================] - 45s 20ms/step - loss: 0.0295 - val_loss: 0.0264
Epoch 25/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0295 - val_loss: 0.0264
Epoch 26/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0294 - val_loss: 0.0262
Epoch 27/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0293 - val_loss: 0.0261
Epoch 28/50
2286/2286 [==============================] - 45s 20ms/step - loss: 0.0293 - val_loss: 0.0260
Epoch 29/50
2286/2286 [==============================] - 45s 20ms/step - loss: 0.0292 - val_loss: 0.0261
Epoch 30/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0291 - val_loss: 0.0259
Epoch 31/50
2286/2286 [==============================] - 46s 20ms/step - loss: 0.0291 - val_loss: 0.0259
Epoch 32/50
2286/2286 [==============================] - 45s 20ms/step - loss: 0.0290 - val_loss: 0.0259
Epoch 33/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0289 - val_loss: 0.0258
Epoch 34/50
2286/2286 [==============================] - 45s 20ms/step - loss: 0.0289 - val_loss: 0.0257
Epoch 35/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0288 - val_loss: 0.0256
Epoch 36/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0288 - val_loss: 0.0257
Epoch 37/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0287 - val_loss: 0.0256
Epoch 38/50
2286/2286 [==============================] - 44s 19ms/step - loss: 0.0287 - val_loss: 0.0255
Epoch 39/50
2286/2286 [==============================] - 43s 19ms/step - loss: 0.0287 - val_loss: 0.0254
Epoch 40/50
2286/2286 [==============================] - 51s 22ms/step - loss: 0.0286 - val_loss: 0.0254
Epoch 41/50
2286/2286 [==============================] - 50s 22ms/step - loss: 0.0286 - val_loss: 0.0254
Epoch 42/50
2286/2286 [==============================] - 46s 20ms/step - loss: 0.0285 - val_loss: 0.0254
Epoch 43/50
2286/2286 [==============================] - 50s 22ms/step - loss: 0.0285 - val_loss: 0.0254
Epoch 44/50
2286/2286 [==============================] - 47s 21ms/step - loss: 0.0285 - val_loss: 0.0254
Epoch 45/50
2286/2286 [==============================] - 47s 20ms/step - loss: 0.0284 - val_loss: 0.0253
Epoch 46/50
2286/2286 [==============================] - 47s 21ms/step - loss: 0.0284 - val_loss: 0.0253
Epoch 47/50
2286/2286 [==============================] - 48s 21ms/step - loss: 0.0284 - val_loss: 0.0252
Epoch 48/50
2286/2286 [==============================] - 47s 20ms/step - loss: 0.0283 - val_loss: 0.0252
Epoch 49/50
2286/2286 [==============================] - 49s 21ms/step - loss: 0.0283 - val_loss: 0.0252
Epoch 50/50
2286/2286 [==============================] - 52s 23ms/step - loss: 0.0283 - val_loss: 0.0252

In [ ]:
# Predict new Matrix Interactions, set score zero on visualized games
new_matrix = model.predict(X) * (X == 0)

In [ ]:
# converting the reconstructed matrix back to a Pandas dataframe
new_users_items_matrix_df  = pd.DataFrame(new_matrix, 
                                          columns = pref_matrix.columns, 
                                          index   = pref_matrix.index)
new_users_items_matrix_df.head()

movieId,1,2,3,5,6,7,10,11,16,17,...,122920,122922,134130,134853,139385,148626,152081,164179,166528,168252
userId,,,,,,,,,,,,,,,,,,,,,
1,0.008271,-0.002898,-0.008937,-0.000783,-0.014894,0.001678,0.002568,-0.001009,0.007100,0.017065,...,0.008735,0.008930,-0.019866,-0.012157,-0.001118,-0.008625,0.002495,-0.000969,0.009413,0.009045
2,0.000000,0.093751,0.021830,0.016175,0.056644,0.025793,0.130096,0.091006,0.036319,0.067626,...,0.002635,0.001751,-0.003756,0.011226,-0.001683,0.014749,-0.002891,0.010431,0.032740,0.007140
3,0.000000,0.246424,-0.031416,0.014197,0.234635,-0.015337,0.064987,-0.003753,0.195218,0.009913,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.450827,0.000000,0.000000,0.000000
4,0.000000,0.068912,-0.009464,0.011326,0.047389,-0.004792,0.068593,-0.020307,0.003205,-0.032094,...,0.365243,0.399900,0.000000,0.589042,0.000000,0.000000,0.000000,0.000000,0.000000,0.381834
5,0.000000,0.116671,0.262880,0.239069,0.299324,0.248429,0.162386,0.115145,0.137322,0.196463,...,0.019562,0.014522,0.013613,0.029165,0.013943,0.016265,0.011786,0.011052,0.033671,0.011036

In [ ]:
def recommender_for_user(user_id, interact_matrix, df_content, topn = 10):
    '''
    Recommender Games for UserWarning
    '''
    pred_scores = interact_matrix.loc[user_id].values

    df_scores   = pd.DataFrame({'movieId': list(pref_matrix.columns), 
                               'score': pred_scores})

    df_rec      = df_scores.set_index('movieId')\
                    .join(df_content.set_index('movieId'))\
                    .sort_values('score', ascending=False)\
                    .head(topn)[['score', 'title']]
    
    return df_rec[df_rec.score > 0]

In [ ]:
pred_scores = pref_matrix.loc[17].values
df_scores   = pd.DataFrame({'movieId': list(pref_matrix.columns), 
                               'score': pred_scores})
df_rec = df_scores.set_index('movieId')
movies.reset_index(inplace=True)
df2 = df_rec.join(movies.set_index('movieId'))
df2.sort_values('score', ascending=False).head(20)[['score', 'title']]

         score                                      title
movieId
59784      5.0                       Kung Fu Panda (2008)
102125     5.0                          Iron Man 3 (2013)
102903     5.0                      Now You See Me (2013)
79091      5.0                       Despicable Me (2010)
72998      4.5                              Avatar (2009)
115617     4.5                          Big Hero 6 (2014)
122920     4.0          Captain America: Civil War (2016)
6942       4.0                       Love Actually (2003)
77561      4.0                          Iron Man 2 (2010)
122892     4.0             Avengers: Age of Ultron (2015)
88140      4.0  Captain America: The First Avenger (2011)
68954      3.5                                  Up (2009)
89745      3.5                       Avengers, The (2012)
59315      3.0                            Iron Man (2008)
108932     3.0                      The Lego Movie (2014)
95167      3.0                               Brave (2012)
47099      3.0           Pursuit of Happyness, The (2006)
588        3.0                             Aladdin (1992)
111759     3.0                    Edge of Tomorrow (2014)
51662      2.5                                 300 (2007)

In [ ]:
j_neto = pd.DataFrame([
    {"userId": 162543, "movieId": 53996, "rating": 5}, # transformers
    {"userId": 162543, "movieId": 69526, "rating": 5},  # transformers 2
    {"userId": 162543, "movieId": 3578, "rating": 5},  # gladiador
    {"userId": 162543, "movieId": 72998, "rating": 5},  # Avatar
    {"userId": 162543, "movieId": 4973, "rating": 2}, # Amelie Poulain
    {"userId": 162543, "movieId": 3409, "rating": 5},  # Premonição
    {"userId": 162543, "movieId": 49274, "rating": 5},  # Happy feet
    {"userId": 162543, "movieId": 98809, "rating": 5},  # O hobbit
    {"userId": 162543, "movieId": 8368, "rating": 5},  # Prisioneiro De Azkaban
    {"userId": 162543, "movieId": 40815, "rating": 5},  # Cálice de fogo
    {"userId": 162543, "movieId": 1917, "rating": 5},  # Armageddon
    {"userId": 162543, "movieId": 1721, "rating": 5},  # Titanic
    #{"userId": 162543, "movieId": 2743, "rating": 5},  # O auto da Compadecida
    {"userId": 162543, "movieId": 93270, "rating": 5},  # Projeto x
    {"userId": 162543, "movieId": 117529, "rating": 5},  # Jurassic world
    {"userId": 162543, "movieId": 4310, "rating": 5},  # Pearl Harbor
    {"userId": 162543, "movieId": 192385, "rating": 5},  # Nasce uma estrela
    {"userId": 162543, "movieId": 6016, "rating": 5},  # Cidade de Deus
    {"userId": 162543, "movieId": 6197, "rating": 5}  # Homem aranha
]).pivot(index="userId", columns="movieId", values="rating")

In [ ]:
movies[movies.title.str.contains('The Reven')]

,index,movieId,title,genres
1897,1897,1986,Halloween 5: The Revenge of Michael Myers (1989),Horror
2017,2017,2107,Halloween H20: 20 Years Later (Halloween 7: Th...,Horror|Thriller
4020,4020,4124,Jaws: The Revenge (1987),Horror|Thriller
15268,15268,80617,Cats & Dogs: The Revenge of Kitty Galore (2010),Action|Children|Comedy
17503,17503,91634,G.I. Joe: The Revenge of Cobra (1984),Action|Animation
28657,28657,132188,The Revengers (1972),Action|Crime|Western
31539,31539,138852,The Revengers' Comedies (1998),Comedy|Crime|Romance
31752,31752,139385,The Revenant (2015),Adventure|Drama
38332,38332,154578,The Revenge of the Living Dead Girls (1987),Horror
52802,52802,186095,Paranormal Asylum: The Revenge of Typhoid Mary...,Horror

In [ ]:
pred_scores = new_users_items_matrix_df.loc[17].values
df_scores   = pd.DataFrame({'movieId': list(new_users_items_matrix_df.columns), 
                               'score': pred_scores})
df_rec = df_scores.set_index('movieId')
#movies.reset_index(inplace=True)
df2 = df_rec.join(movies.set_index('movieId'))
df2.sort_values('score', ascending=False).head(20)[['score', 'title']]

            score                                       title
movieId
112852   0.286306              Guardians of the Galaxy (2014)
60069    0.228860                               WALL·E (2008)
122904   0.227652                             Deadpool (2016)
110102   0.226313  Captain America: The Winter Soldier (2014)
134853   0.226249                           Inside Out (2015)
76093    0.222739             How to Train Your Dragon (2010)
111362   0.201825           X-Men: Days of Future Past (2014)
50872    0.187031                          Ratatouille (2007)
152081   0.185812                             Zootopia (2016)
87232    0.185797                   X-Men: First Class (2011)
79132    0.184246                            Inception (2010)
86332    0.175204                                 Thor (2011)
8961     0.174835                     Incredibles, The (2004)
122900   0.173412                              Ant-Man (2015)
119145   0.168428         Kingsman: The Secret Service (2015)
122922   0.164351                       Doctor Strange (2016)
4886     0.163877                       Monsters, Inc. (2001)
97913    0.158401                       Wreck-It Ralph (2012)
91500    0.156805                     The Hunger Games (2012)
81847    0.154525                              Tangled (2010)

In [ ]:
sample_ratings = pd.DataFrame([
    {"userId": 162542, "movieId": 2858, "rating": 1}, # american beauty
    {"userId": 162542, "movieId": 260, "rating": 5},  # star wars
    {"userId": 162542, "movieId": 480, "rating": 5},  # jurassic park
    {"userId": 162542, "movieId": 593, "rating": 2},  # silence of the lambs
    {"userId": 162542, "movieId": 2396, "rating": 2}, # shakespeare in love
    {"userId": 162542, "movieId": 1197, "rating": 5}  # princess bride
]).pivot(index="userId", columns="movieId", values="rating")

# predict and print the top 10 ratings for this user
#y = predict(sample_ratings, recommender, mean_0, mean_i, movies.loc[(rating_counts).index[0:500]]).transpose()
#preds = y.sort_values(by=1, ascending=False).head(10)

#preds["title"] = movies.loc[preds.index]["title"]
#preds

In [ ]:
teste = pd.concat([pref_matrix, sample_ratings], axis=0, ignore_index=True)

In [ ]:
cobaia = pd.concat([pref_matrix, j_neto], axis=0, ignore_index=True)

In [ ]:
cobaia.fillna(0,inplace=True)

In [ ]:
cobaia.head()

movieId,1,2,3,5,6,7,10,11,16,17,...,122922,134130,134853,139385,148626,152081,164179,166528,168252,192385
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,0.0,4.0,4.0,4.0,NaN
3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,5.0,4.0,4.5,5.0,4.0,0.0,NaN
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:
cobaia.iloc[162506].fillna(0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
pred_scores = teste.loc[162506].values
df_scores   = pd.DataFrame({'movieId': list(teste.columns), 
                               'score': pred_scores})
df_rec = df_scores.set_index('movieId')
movies.reset_index(inplace=True)
df2 = df_rec.join(movies.set_index('movieId'))
df2.sort_values('score', ascending=False).head(10)[['score', 'title']]

         score                                      title
movieId
260        5.0  Star Wars: Episode IV - A New Hope (1977)
1197       5.0                 Princess Bride, The (1987)
480        5.0                       Jurassic Park (1993)
2396       2.0                 Shakespeare in Love (1998)
593        2.0           Silence of the Lambs, The (1991)
2858       1.0                     American Beauty (1999)
4235       0.0      Amores Perros (Love's a Bitch) (2000)
4226       0.0                             Memento (2000)
4223       0.0                  Enemy at the Gates (2001)
4239       0.0                                Blow (2001)

In [ ]:
pred_scores = new_users_items_matrix_df.loc[162506].values
df_scores   = pd.DataFrame({'movieId': list(new_users_items_matrix_df.columns), 
                               'score': pred_scores})
df_rec = df_scores.set_index('movieId')
#movies.reset_index(inplace=True)
df2 = df_rec.join(movies.set_index('movieId'))
df2.sort_values('score', ascending=False).head(20)[['score', 'title']]

            score                                              title
movieId
4896     0.148503  Harry Potter and the Sorcerer's Stone (a.k.a. ...
110      0.140496                                  Braveheart (1995)
69844    0.140381      Harry Potter and the Half-Blood Prince (2009)
5816     0.137048     Harry Potter and the Chamber of Secrets (2002)
54001    0.132509   Harry Potter and the Order of the Phoenix (2007)
81834    0.124607  Harry Potter and the Deathly Hallows: Part 1 (...
2959     0.121874                                  Fight Club (1999)
318      0.099457                   Shawshank Redemption, The (1994)
2028     0.097636                         Saving Private Ryan (1998)
88125    0.096224  Harry Potter and the Deathly Hallows: Part 2 (...
4995     0.079006                           Beautiful Mind, A (2001)
4306     0.076228                                       Shrek (2001)
527      0.074730                            Schindler's List (1993)
2858     0.069592                             American Beauty (1999)
1193     0.065581             One Flew Over the Cuckoo's Nest (1975)
356      0.065210                                Forrest Gump (1994)
4022     0.058728                                   Cast Away (2000)
3147     0.057252                             Green Mile, The (1999)
4993     0.056120  Lord of the Rings: The Fellowship of the Ring,...
79132    0.056106                                   Inception (2010)